.App {
  text-align: center;
  width:400px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  display:flex;
}

.btn { 
  border-radius: 16px;
  width: 60px;
}

.btn > div { 
  background-color: #fff;
  height:15px;
  width: 15px;
  border-radius: 50%;
}

.btn--on {
background-color:green;
justify-content: flex-start;
}

.btn--off {
  background-color:red;
  justify-content: flex-end;
}

footer {
  background-color: #444;
  position: fixed;
  bottom: 0;
  left: 0;
  display:flex;
  justify-content: center;
  color:#fff;
  width: 100%;
  padding: 4rem 0;
}